<nav class="navbar navbar-expand-lg navbar-warning bg-warning navBarPosition">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"><img src="img/finder.png" alt=""><b class="headerTitle">SYNO-FINDER</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menü
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="impressum.html">Impressum</a></li>
            <li><a class="dropdown-item" href="datenschutz.html">Datenschutz</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>